<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>

</head>
<body>
<h1>
 Расписание группы БИВТ-ВП-23 с 23 декабря по 29 декабря (н/н)
</h1>
<div class="row table-row">
 <div class="col-md-12">
  <table class="table table-bordered table-striped table-3">
   <thead>
    <tr class="title">
     <th colspan="5">
      понедельник, 23 декабря
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <b>
       Занятий нет
      </b>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="col-md-12">
  <table class="table table-bordered table-striped table-3">
   <thead>
    <tr class="title">
     <th colspan="5">
      вторник, 24 декабря
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      1
     </td>
     <td>
      09:00 - 10:35
     </td>
     <td>
      <b>
       Основы физики
      </b>
      <small>
       (Лекц.)
      </small>
     </td>
     <td>
      Сорокин О.М.
     </td>
     <td>
      308 (Ленина, 57)
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      10:45 - 12:20
     </td>
     <td>
      <b>
       Основы физики
      </b>
      <small>
       (Лекц.)
      </small>
     </td>
     <td>
      Сорокин О.М.
     </td>
     <td>
      308 (Ленина, 57)
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      12:40 - 14:15
     </td>
     <td>
      <b>
       Компьютерная графика
      </b>
      <small>
       (Лекц.)
      </small>
     </td>
     <td>
      Ляш А.А.
     </td>
     <td>
      208 (Ленина, 57)
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="col-md-12">
  <table class="table table-bordered table-striped table-3">
   <thead>
    <tr class="title">
     <th colspan="5">
      среда, 25 декабря
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      1
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
      14:45 - 16:20
     </td>
     <td>
      <b>
       Высшая математика
      </b>
      <small>
       (Практ.)
      </small>
     </td>
     <td>
      Рудакова М.А.
     </td>
     <td>
      316 (Егорова, 16)
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
      16:30 - 18:05
     </td>
     <td>
      <b>
       Операционные системы
      </b>
      <small>
       (Лаб.)
      </small>
     </td>
     <td>
      Ляш А.А.
     </td>
     <td>
      414 (Егорова, 16)
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="col-md-12">
  <table class="table table-bordered table-striped table-3">
   <thead>
    <tr class="title">
     <th colspan="5">
      четверг, 26 декабря
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      1
     </td>
     <td>
      09:00 - 10:35
     </td>
     <td>
      <b>
       Основы физики
      </b>
      <small>
       (Практ.)
      </small>
     </td>
     <td>
      Сорокин О.М.
     </td>
     <td>
      308 (Ленина, 57)
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      10:45 - 12:20
     </td>
     <td>
      <b>
       Основы физики
      </b>
      <small>
       (Практ.)
      </small>
     </td>
     <td>
      Сорокин О.М.
     </td>
     <td>
      308 (Ленина, 57)
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      12:40 - 14:15
     </td>
     <td>
      <b>
       Высшая математика
      </b>
      <small>
       (Практ.)
      </small>
     </td>
     <td>
      Рудакова М.А.
     </td>
     <td>
      207 (Ленина, 57)
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="col-md-12">
  <table class="table table-bordered table-striped table-3">
   <thead>
    <tr class="title">
     <th colspan="5">
      пятница, 27 декабря
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <b>
       Занятий нет
      </b>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="col-md-12">
  <table class="table table-bordered table-striped table-3">
   <thead>
    <tr class="title">
     <th colspan="5">
      суббота, 28 декабря
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      1
     </td>
     <td>
      09:00 - 10:35
     </td>
     <td>
      <b>
       Основы физики
      </b>
      <small>
       (Практ.)
      </small>
     </td>
     <td>
      Сорокин О.М.
     </td>
     <td>
      308 (Ленина, 57)
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      10:45 - 12:20
     </td>
     <td>
      <b>
       Основы физики
      </b>
      <small>
       (Практ.)
      </small>
     </td>
     <td>
      Сорокин О.М.
     </td>
     <td>
      308 (Ленина, 57)
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      12:40 - 14:15
     </td>
     <td>
      <b>
       Иностранный язык
      </b>
      <small>
       (Практ.)
      </small>
     </td>
     <td>
      Педько В.А.
     </td>
     <td>
      503 (Коммуны, 9)
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="col-md-12">
  <table class="table table-bordered table-striped table-3">
  </table>
 </div>
</div>

</body>
</html>
