beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.12.14
charset-normalizer==3.4.0
fake-useragent==2.0.3
idna==3.10
Jinja2==3.1.5
lxml==5.3.0
MarkupSafe==3.0.2
PySocks==1.7.1
requests==2.32.3
soupsieve==2.6
urllib3==2.2.3
