{% extends "navigation.html" %}

{% block main %}
<div class="container">
    <form action="/new/create" method="POST">
        <select name="faculty">
            {% for faculty in faculties %}
            <option value="{{ faculty }}"> {{ faculty }} </option>
            {% endfor %}
        </select>
        <select name="course">
            {% for course in courses %}
            <option value="{{ course }}"> {{ course}} </option>
            {% endfor%}
        </select>
        <input type="submit" value="Показать группы">
    </form>
</div>
{% endblock main %}