{% extends "navigation.html" %}

{% block main %}
<div class="container">
    <form action="/new/create" method="POST">
        <select name="{{ fac }}">
            {% for faculty, value in faculties.items() %}
            <option value="{{ value }}"> {{ faculty }} </option>
            {% endfor %}
        </select>
        <select name="{{ cor }}">
            {% for course, value in courses.items() %}
            <option value="{{ value }}"> {{ course }} </option>
            {% endfor %}
        </select>
        <input type="submit" value="Показать группы">
    </form>
</div>
{% endblock main %}