перенаправим потом уже с данной группой на основную с расписанием
{% extends "navigation.html" %}

{% block main %}
    {{ super() }}
    <div class="container">
        <form action="/old" method="POST">
        <select name="{{ group }}">
            {% for group, value in groups.items() %}
            <option value="{{ group }}, {{ value }}"> {{ group }} </option>
            {% endfor %}
        </select>
        <input type="submit" value="Выбрать группу">
    </form>
    </div>
{% endblock main %}