{% extends "base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block any_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='btns.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='helpers.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='selects.css') }}">
{% endblock any_styles %}

{% block header %}
<div class="container pt-2">
  <div class="row">
    <div class="col-6 alignment justify-content-start">
      <a href="/" class="icon-logo">
      </a>
    </div>
    <div class="col-6 alignment justify-content-end">
      <a href="/authorisation" class="account_button d-flex align-items-center">
        <div class="icon-home"></div> <b>Аккаунт</b>
      </a>
    </div>

  </div>
</div>
<div class="container bg-black my-2 rounded">
  <div class="row d-flex justify-content-between">
    <div class="col-4 button_alignment">
      <a href="/new/create" class="menu_button">
        Новая группа
      </a>

    </div>
    <div class="col-4 button_alignment">
      <a href="/old" class="menu_button">
        Ваша группа
      </a>

    </div>
    <div class="col-4 button_alignment">
      <a href="/teachers" class="menu_button">
        Преподаватели
      </a>

    </div>

  </div>

</div>
{% endblock header %}