{% extends "navigation.html" %}

{% block main %}
 <div class="container">
{% if group_name is none %}
    <h1 class="text-light">Вы еще не выбрали группу</h1>
     <div class="col-4 button_alignment">
      <a href="/new/create" class="menu_button">
        Выберите группу
      </a>

    </div>

{% else %}
    <h1 class="text-light"> Ваша группа: {{ group_name }} </h1>
     <div class="row pt-3">
        <div class="col-3 button_alignment">
          <a href="/timetable/this_week" class="menu_button">
            Текущая неделя
          </a>

        </div>

        <div class="col-3 button_alignment">
          <a href="/timetable/today" class="menu_button">
            Сегодня
          </a>

        </div>
         <div class="col-3 button_alignment">
          <a href="/timetable/tomorrow" class="menu_button">
            Завтра
          </a>

        </div>

         <div class="col-3 button_alignment">
          <a href="/timetable/next_week" class="menu_button">
            Следующая неделя
          </a>

        </div>
     </div>
{% endif %}
 </div>
{% endblock main %}