{% extends "navigation.html" %}

{% block main %}
 <div class="container">
{% if group_name is none %}
<div class="custom_container_2">
  <div>

    <img src="{{ url_for('static', filename='images/group.png') }}" width="156" height="156" alt="404 Image" class="error-image">
    <p>Вы еще не выбрали группу</p>
    <a href="/new/create" class="home-link">Выберите группу</a>
  </div>
</div>




{% else %}
    <div class="custom_container_3">
      <div>
        <img src="{{ url_for('static', filename='images/group.png') }}" width="156" height="156" alt="Image" class="error-image">
        <h2 class="pt-2">{{ group_name }}</h2>
      </div>
    </div>

     <div class="row">
        <div class="col-3 button_alignment">
          <a href="/group/timetable/this_week" class="other_button">
            Текущая неделя
          </a>

        </div>

        <div class="col-3 button_alignment">
          <a href="/group/timetable/today" class="other_button">
            Сегодня
          </a>

        </div>
         <div class="col-3 button_alignment">
          <a href="/group/timetable/tomorrow" class="other_button">
            Завтра
          </a>

        </div>

         <div class="col-3 button_alignment">
          <a href="/group/timetable/next_week" class="other_button">
            Следующая неделя
          </a>

        </div>
     </div>
{% endif %}
 </div>
{% endblock main %}