{% extends "navigation.html" %}

{% block main %}
 <div class="container">
{% if group_name is none %}
     <div class="row">
         <div class="col-6 alignment">
            <h1 class="text-light">Вы еще не выбрали группу</h1>

         </div>
         <div class="col-6 alignment justify-content-start">
              <a href="/new/create" class="menu_button">
                Выберите группу
              </a>

         </div>
     </div>


{% else %}
    <h1 class="text-light"> Ваша группа: {{ group_name }} </h1>
     <div class="row pt-3">
        <div class="col-3 button_alignment">
          <a href="/group/timetable/this_week" class="other_button">
            Текущая неделя
          </a>

        </div>

        <div class="col-3 button_alignment">
          <a href="/group/timetable/today" class="other_button">
            Сегодня
          </a>

        </div>
         <div class="col-3 button_alignment">
          <a href="/group/timetable/tomorrow" class="other_button">
            Завтра
          </a>

        </div>

         <div class="col-3 button_alignment">
          <a href="/group/timetable/next_week" class="other_button">
            Следующая неделя
          </a>

        </div>
     </div>
{% endif %}
 </div>
{% endblock main %}